/* // Big Button */
.big-button {
  background: #8357c5;
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 2.8rem;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}
