body{
    font-family: 'Poppins', sans-serif;
}
table, th, td{
    border: 1px solid lightgray;
    border-collapse: collapse;
}
th {
    background-color: #700ff7;
    color:white;
    text-align: left;
}
td:hover{
background-color: #ddd ;
}
tr:nth-child(2n){
    background-color: lightgray;
}
th,td{
    padding: 10px;
}
.question {
    width: 900px;
}

